[submodule "php-sdl-image"]
	path = php-sdl-image
	url = https://github.com/kea/php-sdl-image
[submodule "php-sdl"]
	path = php-sdl
	url = https://github.com/Ponup/php-sdl
[submodule "php-sdl-ttf"]
	path = php-sdl-ttf
	url = https://github.com/Ponup/php-sdl-ttf
